@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

/* NAV */

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    list-style: none;
    background-color: #6b705c;
}

.navbar__logo {
    font-size: 36px;
    font-weight: 300;
    color: #FFF;
    text-decoration: none;
}

.navbar__links {
    display: flex;
    gap: 76px;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
}

.navbar__links--link {
    text-decoration: none;
    color: #FFF;
}

.navbar__links--link:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .navbar__logo, .navbar__links--link {
        font-size: 24px;
    }

    .navbar__home {
        display: none;
        width: 0;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 20px 30px;
    }

    .navbar__products {
        display: none;
        width: 0;
    }

    .navbar__links {
        gap: 10px;
    }

    .navbar__links--link {
        font-size: 20px;
    }
}


/* HOME */

.home__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
}

.home__container--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.home__title {
    font-size: 48px;
    font-weight: 400;
}

.home__subtitle {
    font-size: 30px;
}

.home__button {
    background-color: #a5a58d;
    border: 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.home__button:hover {
    opacity: 0.95;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .home__image {
        max-width: 500px;
        width: auto;
        height: auto;
    }
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
    .home__container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
    }

    .home__image {
        max-width: 400px;
        width: auto;
        height: auto;
    }
    
}

/* Small phones */
@media (max-width: 480px) {
    .home__image {
        max-width: 350px;
        width: auto;
        height: auto;
    }
}

/* PRODUCTS */

.products__container {
    display: flex;
    flex-direction: column;
}

.products__header {
    text-align: center;
    padding-top: 50px;
    font-weight: 300;
}

.products__loading {
    text-align: center;
    font-weight: 300;
}

.products__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.products__tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 500px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}

.products__tile--title {
    text-align: center;
    font-size: 20px;
    max-width: 80%;
    position: absolute;
    bottom: 100px;
}

.products__tile--price {
    position: absolute;
    bottom: 75px;
}

.products__tile--image {
    max-height: 250px;
    max-width: 200px;
    width: auto;
    height: auto;
    position: absolute;
    top: 20px;
}

.products__tile--button {
    background-color: #a5a58d;
    border: 0;
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
}

.products__tile--button:hover {
    opacity: 0.95;
    cursor: pointer;
}

.products__tile--button:active {
    transition: all 50ms ease;
    background-color: #6e6e5e;
}

/* CART */

.cart__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 0;
}

.cart__header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 800px;
    padding: 20px 0;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 36px;
}

.cart__item--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 200px;
    width: 800px;
    padding: 0 30px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
 
.cart__item--information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cart__item--image {
    max-height: 75%;
    max-width: 100px;
    width: auto;
    height: auto;
}

.cart__item--details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.cart__item--name, .cart__item--price {
    font-size: 20px;
}

.cart__item--remove {
    background-color: #cb997e;
    border: 0;
    padding: 10px 20px;
}

.cart__item--remove:hover {
    opacity: 0.95;
    cursor: pointer;
}

.cart__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 800px;
    padding: 20px 30px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 24px;
}

.cart__checkout {
    background-color: #cb997e;
    border: 0;
    padding: 10px 20px;
}

.cart__checkout:hover {
    opacity: 0.95;
    cursor: pointer;
}

@media (max-width: 850px) {
    .cart__header, .cart__item--container, .cart__footer {
        width: 600px;
    }
}

@media (max-width: 630px) {
    .cart__header, .cart__item--container, .cart__footer {
        width: 450px;
    }
}

@media (max-width: 480px) {
    .cart__header, .cart__item--container, .cart__footer {
        width: 350px;
    }

    .cart__item--container {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}