@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

/* NAV */

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    list-style: none;
    background-color: #6b705c;
}

.navbar__logo {
    font-size: 24px;
    color: #FFF;
}

.navbar__links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar__links--link {
    text-decoration: none;
    color: #FFF;
}

/* HOME */

.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh; /* THIS IS KINDA SKETCHY */
}

.home__title {
    font-size: 48px;
    font-weight: 400;
}

.home__subtitle {
    font-size: 30px;
}

.home__button {
    background-color: #a5a58d;
    border: 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.home__button:hover {
    opacity: 0.95;
    cursor: pointer;
}


/* PRODUCTS */

.products__container {
    display: flex;
    flex-direction: column;
}

.products__header {
    text-align: center;
    padding-top: 50px;
}

.products__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.products__tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 500px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.products__tile--title {
    text-align: center;
    font-size: 20px;
    max-width: 80%;
}

.products__tile--image {
    max-height: 250px;
    max-width: 200px;
    width: auto;
    height: auto;
}

.products__tile--button {
    background-color: lightgreen;
    border: 0;
    padding: 10px 20px;
}

.products__tile--button:hover {
    opacity: 0.95;
    cursor: pointer;
}

/* CART */

.cart__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 0;
}

.cart__header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 800px;
    padding: 20px 0;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 36px;
}

.cart__item--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 200px;
    width: 800px;
    padding: 0 30px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
 
.cart__item--information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cart__item--image {
    max-height: 75%;
    max-width: 100px;
    width: auto;
    height: auto;
}

.cart__item--details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.cart__item--name, .cart__item--price {
    font-size: 20px;
}

.cart__item--remove {
    background-color: lightcoral;
    border: 0;
    padding: 10px 20px;
}

.cart__item--remove:hover {
    opacity: 0.95;
    cursor: pointer;
}

.cart__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 800px;
    padding: 20px 30px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 24px;
}

.cart__checkout {
    background-color: lightgreen;
    border: 0;
    padding: 10px 20px;
}

.cart__checkout:hover {
    opacity: 0.95;
    cursor: pointer;
}